.container{
            display: flex;
            height: 10vh;
            width: 90vw;
            margin: auto;
            border: 2px solid black;
            border-radius: 13px;
            border-color: rgb(148, 129, 104);
            background-color: rgb(237, 236, 234);
            
        }
        .item{
            margin: 2px;
            width: 8vw;
            align-content: center;
            text-align: center;
        }
        .name{
            width: 20vw;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            display: flex;
        }
        .download{
            border: 2px solid black;
            height: 5vh;
            margin-left:80px;
            align-self: center;
            background-color: rgb(237, 237, 64);
        }
        .language{
            margin-left: 50px;
            align-self: center;
            font-size: 20px;
        }
        .first{
            height: 8vh;
            width:10vw;
            align-self: center;
            margin-left: 3px;

        }
        img{
            height: 8vh;
            width: 10vw;
            align-self: center;
            margin-right: auto;
        }
        .second{
            width: 9vw;
            height: 8vh;
            align-self:center;
            align-content: center;
        }
        .inner{
            font-size: 12px;
            font-weight: 400;
        }